<h1 align= "center"> Articles for <%=params[:disease]%></h1>
<br><br>
<p><h3>Total Number of Articles for <%=params[:disease]%>: <%=@articles.count%></h3></p>
<br><hr>
<%@articles.each do |article|%>
  <p><strong>Title: </strong><%=article.title%></p>
  <p><strong>Authors: </strong><%=article.author%></p>
  <p><strong>Publication Date: </strong><%=article.date%>, <%=article.year%></p>
  <p><strong>DOI: </strong><%=article.doi%></p>
  <p><strong>ISBN_ISSN: </strong><%=article.isbn_issn%></p>
  <p><strong>URL: </strong><a href=<%= article.url %>><%=article.url%></a></p>
  <p><strong>Abstract: </strong><%=article.abstract%></p>
  <%=button_to "Save to Dashboard", dashboard_path, params: {}%>
  <br><hr>
<%end%>