<h1 align= "center" > EpiTrac </h1>

<div align= "left">
  <% if current_user %>
    <%=button_to "Logout", '/sessions', method: :delete %>
  <% else %>
    <%= button_to "Login with Google", "/auth/google_oauth2", method: :get %>
    <%= button_to "Create User with Google", "/auth/google_oauth2", method: :get %>
  <% end %>
</div>
<<<<<<< HEAD

<%= render partial: '/partials/map' %>
<button id="test_button" onclick="changeInfo('something')">Testing</button>
<p id="info">thing</p>
Extra text<br>
for testing<br>
purposes
<%= javascript_include_tag("info.js")%>
=======
>>>>>>> cec582048bbdc842c97dcb93bb1ecd0351719f02
