 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <script src="https://use.fontawesome.com/948cc87750.js"></script>

<a name="map_locations"></a>
<section class="map">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
          <%= image_tag "map.png", alt: "map", class: "img-fluid mx-auto" %>
          <% @states_array.each do |state, index| %>
            <a class="btn pin <%=state.downcase%>" data-placement="top" data-toggle="tooltip" 
                       title="<%=state%>"    id="btn<%=index%>"  tabindex="0" role="button"></a>
          <% end %>
				<%# <a class="btn pin colorado" data-placement="top" data-toggle="tooltip" 
                 title="Testing"    id="btn1"  tabindex="0" role="button"></a> %>

			</div>
		</div>
	</div>
</section>
<%= javascript_include_tag("map.js")%>