 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <script src="https://use.fontawesome.com/948cc87750.js"></script>

<a name="map_locations"></a>
<section class="map">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
          <%= image_tag "map.png", alt: "map", style: "width:100%;" %>
          <% @states_array.each do |state, index| %>
            <%fixed_state = state.downcase.gsub(' ','_')%>
            <a class="btn pin <%=fixed_state%>" data-placement="top" data-toggle="tooltip" 
                       title="<%=state%>"    id="<%=fixed_state%>"  tabindex="0" role="button" onclick="changeInfo('<%=state.upcase%>')"></a>
          <% end %>
			</div>
		</div>
	</div>
</section>
<%= javascript_include_tag("map.js")%>