<h1>New User Form</h1>
<%= form_with(url: new_users_path, method: post, local: true) do |f| %>
<%= f.label :name, 'Name' %>
<%= f.text_field :name %>
<%= f.label :username, 'Username' %>
<%= f.text_field :username %>
<%= f.label :email, 'Email' %>
<%= f.text_field :email %>
<%= f.label :state, 'Home State' %>
<%= f.select :state, @states_array %>
<%= f.label :password, 'Password' %>
<%= f.password_field :password %>
<%= f.label :password_confirmation, 'Password Confirmation' %>
<%= f.password_field :password_confirmation %>
<%= f.submit 'Register' %>
<% end %>