<h2 style="text-align:center"><%= @user.name %> Dashboard</h2>
<hr>
<br>
<h3>User Information</h3>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container" align="center">
        <h4><%= @user.name %></h4>
        <p class="title"><%= @user.email %></p>
        <p class="title"><%= @user.state if @user.state %></p>
        <p><a href="/dashboard/edit" class="button" role="button">Update Your State</a></p>
      </div>
    </div>
  </div>
</div>
<br>
<h3 style="text-align:left"><%= @user.name %>'s Saved Articles</h3>
<hr>
<p><strong>Total Number of Saved Articles: </strong><%=@saved_articles.count%></p>
<%@saved_articles.each do |article|%>
  <div id =<%=article[:attributes][:isbn_issn]%> >
  <p><strong>Title: </strong><%=article[:attributes][:title]%></p>
  <p><strong>Authors: </strong><%=article[:attributes][:author]%></p>
  <p><strong>Publication Date: </strong><%=article[:attributes][:date]%>, <%=article[:attributes][:year]%></p>
  <p><strong>DOI: </strong><%=article[:attributes][:doi]%></p>
  <p><strong>ISBN_ISSN: </strong><%=article[:attributes][:isbn_issn]%></p>
  <p><strong>URL: </strong><a href=<%= article[:attributes][:url] %>><%=article[:attributes][:url]%></a></p>
  <p><strong>Abstract: </strong><%=article[:attributes][:abstract]%></p>
  <%=button_to "Delete Article From Dashboard", "/user_articles/#{(article[:id])}", method: :delete%>
  <hr>
  </div>
<%end%>

<footer class="page-footer font-small special-color-dark pt-4">
  <br>
  <hr>
  <p align="center">This action cannot be undone. Please be sure you want to delete your account.
  <p align="center"><%= link_to "Delete Account", "/dashboard", method: :delete %><p><br>
</footer>

